html {
    overflow: hidden;
    -ms-content-zooming: none; /* パンとズームを無効にする */
}


body {
    text-align: center;  
    margin: 0px;
}

base {
   text-align:left;
   width: 320px;  
   margin: 0 auto;  

}


